@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";


.bebasFont{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.tekturFont{
    font-family: 'Tektur', cursive;
}


/* Minimal Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 #1e293b;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5); /* default black shadow */
}

.text-shadow-black {
  text-shadow:2px 4px 12px rgb(122 120 119 / 60%); /* orange-600 */
}
.text-shadow-white {
  text-shadow:2px 4px 12px rgba(221, 217, 214, 0.6); /* orange-600 */
}