@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";


.bebasFont{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
.tekturFont{
    font-family: 'Tektur', cursive;
}

html, body {
  height: 100%;
  overflow: hidden; /* locomotive khud scrolling handle karega */
}


